#include('./partial/header.html', {title: keyword })
<!-- content -->
<div id="content" class="app-content">
    <div id="loadingbar" class="butterbar hide">
        <span class="bar"></span>
    </div>
    <a class="off-screen-toggle hide"></a>
    <main class="app-content-body">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">
                <header class="bg-light lter b-b wrapper-md">
                    <h1 class="m-n font-thin h3 text-black l-h">${type} ${keyword} 下的文章</h1>
                </header>
                <div class="wrapper-md">
                    #if(is_empty(articles))
                    <p class="m-b-md no_search_result panel"> 没有找到搜索结果，请尝试更换关键词。</p>
                    #else
                    <!-- 输出文章 -->
                    <div class="blog-post">
                        #for(article : articles(5).rows)
                        <div class="panel">
                            <div id="index-post-img">
                                <a href="${permalink()}">
                                    <div class="item-thumb" style="background-image: url('${show_thumb(article)}')"></div>
                                </a>
                            </div>
                            <div class="wrapper-lg">
                                <h2 class="m-t-none index-post-title">
                                    <a href="${permalink()}">${title()}</a></h2>
                                <p class="summary">${intro(66)}...</p>
                                <div class="line line-lg b-b b-light"></div>
                                <div class="text-muted">
                                    <i class="fa fa-clock-o text-muted"></i>&nbsp;发布于 ${created('yyyy-MM-dd')}
                                    &nbsp;&nbsp;
                                    <i class="fa fa-eye text-muted"></i>&nbsp;${article.hits} 次浏览
                                    <a href="${permalink()}/#comments" class="m-l-sm">
                                        <i class="fa fa-comments text-muted"></i>&nbsp;${article.commentsNum} 条评论
                                    </a>
                                </div>
                            </div>
                        </div>
                        #end
                    </div>
                    <!--分页 按钮-->
                    <nav class="text-center m-t-lg m-b-lg" role="navigation">
                        #if (type == '分类')
                        #call pageNav(articles(5),'<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>', 'category/' + keyword)
                        #else
                        #call pageNav(articles(5),'<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>', 'search/' + keyword)
                        #end
                    </nav>
                    #end
                </div>
            </div>
            <!-- 右侧栏-->
            #include('./partial/right.html')
        </div>
    </main>
</div>
<!-- /content -->
#include('./partial/footer.html')